absl-py==0.2.2
astor==0.6.2
atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
bleach==1.5.0
captcha==0.2.4
cycler==0.10.0
decorator==4.2.1
enum34==1.1.6
gast==0.2.0
grpcio==1.12.1
h5py==2.7.1
html5lib==0.9999999
ipykernel==4.8.2
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.1
jupyter-client==5.2.3
jupyter-core==4.4.0
Keras==2.2.0
Keras-Applications==1.0.2
Keras-Preprocessing==1.0.1
Markdown==2.6.11
matplotlib==2.1.2
more-itertools==4.2.0
networkx==2.1
numpy==1.14.2
opencv-python==3.4.1.15
pandas==0.22.0
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
Pillow==5.1.0
pluggy==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.1
ptyprocess==0.6.0
py==1.5.4
Pygments==2.2.0
pyparsing==2.2.0
pytesseract==0.2.2
pytest==3.6.4
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==17.1.0
scikit-image==0.13.1
scikit-learn==0.19.1
scipy==1.0.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
style==1.1.0
tensorboard==1.9.0
tensorflow-gpu==1.9.0
termcolor==1.1.0
tflearn==0.3.2
tornado==5.1
tqdm==4.23.4
traitlets==4.3.2
update==0.0.1
wcwidth==0.1.7
Werkzeug==0.14.1
